.order {
	width: 100%;
	background: url(../assets/orderBg.png) no-repeat top center;
	background-size: 100% 100%;
	height: auto;
	padding: 3rem;
	&__content {
		@include main-content;
		h2 {
			color: $light-color;
			font-size: 2.25rem;
			font-family: medium, sans-serif;
			font-weight: 800;
			text-align: center;
			margin-bottom: 1.875rem;
			span {
				color: $active-color;
			}
		}
		p {
			color: #BBB;
			text-align: center;
			font-size: 1.125rem;
			font-family: regular, sans-serif;
		}
	}
	&__process {
		display: flex;
		justify-content: space-between;
		column-gap: 1.875rem;
		figure {
			width: 13rem;
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 5rem 0;
			opacity: 0;
			animation: wait forwards;
			animation-duration: 5s;
			.circle-icon {
				width: 6.25rem;
				height: 6.25rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 5px solid #286690;
				background-color: $active-color;
				position: relative;
				transition: all .5s;
				&:after {
					content: url("../assets/icons/dots.svg");
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 6.25rem;
				}
			}
			figcaption {
				width: 11.75rem;
				margin-top: 1.25rem;
				font-size: 1rem;
				color: $light-color;
				font-family: regular, sans-serif;
				text-align: center;
			}
			&:last-of-type {
				.circle-icon:after {
					content: "";
				}
			}
			&:first-of-type{
				animation-delay:.4s;
			}
			&:nth-of-type(2){
				animation-delay:.5s;
			}
			&:nth-of-type(3){
				animation-delay:.6s;
			}
			&:nth-of-type(4){
				animation-delay:.7s;
			}
			&:nth-of-type(5){
				animation-delay:.8s;
			}
		}
	}
	&__form {
		&__grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 1.875rem;
			grid-row-gap: 1.875rem;
			margin-bottom: 3.5rem;
			input, select {
				height: 3rem;
				padding: 0 10px;
				border-radius: 3px;
				border: 1px solid $light-color;
				color: $font-color;
				background-color: rgba($light-color, 0.85);
				font-size: 1.125rem;
				font-family: regular, sans-serif;
				display: flex;
				align-items: center;
				outline: none;
				&:active, &:focus {
					box-shadow: 0 0 2px 2px $active-color;
				}
			}
			input::placeholder {
				color: $font-color;
			}
			
			
		}
		&__range {
			grid-column: 1 / span 2;
			label{
				color: $light-color;
				font-size: 1.125rem;
				font-family: regular, sans-serif;
				margin-bottom: 1.25rem;
				display: flex;
				justify-content: space-between;
			}
			input[type="range"]{
				-webkit-appearance: none;
				appearance: none;
				width: 100%;
				height: 6px;
				background-color: rgba($light-color, 0.7);
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					background:  url("../assets/icons/rangeIcon.svg");
					width:37px ;
					height: 37px;
					cursor: pointer;
				}
			}
		}
		&__file{
			height: 3rem;
			padding: 0 10px;
			border-radius: 3px;
			border: 2px solid $active-color;
			color: $font-color;
			background-color: rgba(255, 255, 255, 0.85);
			position: relative;
			display: flex;
			align-items: center;
			outline: none;
			transition: background-color .5s;
			text-align: center;
			span{
				font-size: 0.9rem;
				font-family: medium, sans-serif;
				width: auto;
				font-weight: 600;
				text-transform: uppercase;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				&:after{
					content: url("../assets/icons/uploadFileIcon.svg")  ;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -20%;
					width: 17px;
					height: 20px;
				}
			}
			&:hover, &:active, &:focus {
				background:rgba($active-color, 0.7);
				cursor: pointer;
				box-shadow: 0 0 2px 2px $active-color;
				border: 1px solid rgba($active-color, 0.7);
				
			}
			input[type="file"]{
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0;
				font-size: 0.9rem;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
				width: 100%;
			}
		}
		
		&__select{
			position: relative;
			transition: all .5s;
			select {
				appearance: none;
				-moz-appearance: none;
				position: relative;
				width: 100%;
				option {
					&:disabled {
						color: $font-color;
					}
				}
				
				&:focus {
					color: $light-color;
					background-color: rgba(61, 64, 80, 0.85);;
					option {
						background-color: rgba(39, 39, 51, 0.90);
						color: $light-color;
					}
				}
			}
			&:after{
				content: url("../assets/icons/arrowIcon.png");
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 14px;
				width: 21px;
				height: 21px;
				pointer-events: none;
			}
			&:focus-within {
				&::after {
					transform: rotate(180deg) translateY(10px);
				}
			}
		}
		&__btn{
			width: 23.125rem;
			height: 3rem;
			background: $active-color;
			border: 1px solid $light-color;
			border-radius: 4px;
			padding: 15px 0;
			color: $light-color;
			font-size: 0.9rem;
			font-family: medium, sans-serif;
			font-weight: 600;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all .5s;
			margin: 0 auto;
			&:hover{
				background: rgba($active-color, 0.7);
				border: none;
				box-shadow: 0 0 2px 2px $active-color;
			}
		}
	}
}
@keyframes wait {
	0%{opacity:0}
	100%{opacity:1}
}
@media screen and (max-width: 1200px) {
	html,body{
		font-size: 14px;
	}
	.order__form__file:after{
		left: 4.5rem;
	}

}
@media screen and (max-width: 998px){
	html,body{
		font-size: 12px;
	}
	.order__process{
		
		figure{
			width: 10rem;
			
		}
	}
	.order__form{
		&__file{
			span:after{
				left: -25%;
			}
		}
	}

}
@media screen and (max-width: 768px){
	html,body{
		font-size: 10px;
	}
	.order__process{
		
		figure{
			width: 10rem;
			img{
				width: 25px;
			}
			
		}
	}

}
@media screen and (max-width: 640px){
	html,body{
		font-size: 14px;
	}
	.order{
		height: auto;
		padding: 1.5rem;
		&__process{
			flex-direction: column;
			align-items: center;
			row-gap: 2rem;
			margin-bottom: 5rem;
			figure{
				width: 100%;
				margin: 0;
				.circle-icon{
					width: 7.25rem;
					height: 7.25rem;
					img{
						width: 45%;
					}
					&:after{
						content: "";
					}
				}
				figcaption{
					width: 100%;
					font-size: 1.5rem;
				}
			}
		}
		
		&__form {
			&__grid{
				grid-template-columns: repeat(2, 1fr);
			}
			&__file {
				grid-column: 2 / span 1;
				grid-row: 2;
			}
		}
	}
}
@media screen and (max-width: 460px){
	.order{
		&__form {
			&__grid{
				display: flex;
				flex-direction: column;
			}
			&__btn{
				max-width: 274px;
			}
			&__file{
				span:after{
					left: -30%;
				}
			}
		}
	}
}